main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;  
}


nav
{
	width : 150px ;
	border : 1px solid blue ;
	float:left;
}
section
{
	border : 1px solid blue ;
	width: 55%;
	text-align:center;
	float : right;
	width:700px;
	margin-left:50px;
	margin-right:140px;
	padding-left:-20px;
	padding-right:-20px;
}
header{
	text-align:center;
}
footer{
	float:right;
	clear:right;
	text-align:center;
	width:1000px;
}




