.form-style{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.Entete{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 3px;
}
.point{
    color:red;
}
label,  select {
    display:block;
    width:500px;
}
h1, legend {
    font-family:Times New Roman, Helvetica, sans-serif;
}
#radio{
    display:inline;
}
fieldset{
    min-width:1000px;
    max-width:2000px;
}
