body{
    background: center no-repeat url("../image/fond.jpg");
    front-size:large;
}
h1 {
    color:Red;
    text-decoration: underline;
    text-align:center;
}
.disque{
    list-style-type:square;
}